<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>NSLocalNetworkUsageDescription</key>
    <string>DnsBlackhole 需要接收局域网设备的 DNS 查询并返回过滤后的结果。</string>
  </dict>
</plist>

